# Bonus: Temperature Analysis I

In [29]:
import pandas as pd
from datetime import datetime as dt

In [30]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [31]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [32]:
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [33]:
# Set the date column as the DataFrame index
# Drop the date column
df.set_index('date', inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2011-12-15  USC00519397  0.00    73
2011-12-16  USC00519397  0.01    70
2011-12-17  USC00519397  0.07    73
2011-12-18  USC00519397  0.02    69
2011-12-19  USC00519397  0.15    74

[100 rows x 3 columns]

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [66]:
# Filter data for desired months
df_jun_dec = df[ (df.index.month_name() == 'June') | (df.index.month_name() == 'December') ]
df_jun_dec.head(100)

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2011-12-15  USC00519397  0.00    73
2011-12-16  USC00519397  0.01    70
2011-12-17  USC00519397  0.07    73
2011-12-18  USC00519397  0.02    69
2011-12-19  USC00519397  0.15    74

[100 rows x 3 columns]

In [62]:
df_jun_dec.dtypes

station     object
prcp       float64
tobs         int64
dtype: object

In [80]:
# Identify the average temperature for June
june_mean_tobs = df_jun_dec.loc[ df_jun_dec.index.month_name() == 'June', "tobs"].mean()
june_mean_tobs

74.94411764705882

In [81]:
# Identify the average temperature for December
dec_mean_tobs = df_jun_dec.loc[ df_jun_dec.index.month_name() == 'December', "tobs"].mean()
dec_mean_tobs

71.04152933421226

In [83]:
# Create collections of temperature data
df_junes = df_jun_dec.loc[ df_jun_dec.index.month_name() == 'June', :]
june_temps = df_june_tobs["tobs"].tolist()

df_dec = df_jun_dec.loc[ df_jun_dec.index.month_name() == 'December', :]
dec_temps = df_dec["tobs"].tolist()

In [85]:
# Run paired t-test
from scipy import stats

In [86]:
stats.ttest_ind(june_temps, dec_temps, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

In [ ]:
I ran the independent t-test as the two data samples (june temps, december temps) are separate.  
The p-value is < 0.05, meaning there is a signficant difference in the means,
and I reject the null hypothesis that the two samples have the same temperature.